/* General styles */
#root {
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  background-color: #F4EAD3;
}

.App {
  background-color: #FFB049;
  display: flex;
    justify-content: center; /* Center the entire app horizontally */
}

.nostr-container {
  width: 100%; /* Make the container fill the available width */
  margin: 0 auto; /* Center the container horizontally within its parent */
}
